@media screen and (max-width: 992px) {

    .main {
        width: 100%;
        align-items: center;
    }

    /* Header configuration */

    header {
        display: flex;
        flex-flow: row wrap;
        align-content: flex-end;
        justify-content: space-between;
        height: 100px;
        width: 100%;
    }

    header nav {
        max-width: 40%;
    }

    /* Part 1 configuration */

    .part1 {
        height: 500px;
        width: 95%;
    }


    /* Search Part */

    .search-part {
        height: 260px;
        justify-content: space-between;
    }

    .search {
        width: 100%;
    }

    .search_bar {
        width: 100%;
        justify-content: center;
    }

    .research i {
        display: none;
    }

    /* Filters */

    .filter_line {
        gap: 20px;
    }

    .filter_choice {
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px 10px;
    }

    /* Information line */

    .info {
        flex-wrap: nowrap;
        width: 100%;
        gap: 20px;

    }

    .info_circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border: 2px solid #f2f2f2;
        border-radius: 20px;
    }

    .info p {
        display: flex;
        width: 100%;
    }

    /* Research results */

    .results {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        gap: 25px;
    }

    /* Hebergement & Popular zones */

    .first {
        width: 100%;
        border-radius: 0px;
        background-color: #ffffff;
        padding: 10px 0px;
    }

    .second {
        width: 100%;
        height: 100%;
        border-radius: 0px;
        max-width: none;
        padding: 15px 0px;
        flex-direction: column;
    }

    /* Popular part */

    .popular {
        width: 98%;
    }

    .column {
        align-content: space-between;
        flex-direction: row;
        width: 100%;
    }

    .fiche-popular {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        height: 250px;
        width: 30%;
        background-color: #ffffff;
        border-radius: 20px;
        border: 5px solid #ffffff;
        text-decoration: none;
        color: black;
        gap: 20px;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    }

    .img-popular {
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .img-popular-content {
        width: 100%;
        height: 55%;
    }

    .text-popular {
        width: 100%;
        height: 45%;
        justify-content: space-around;
    }

    .info-popular h3 {
        margin: 0px;
        font-size: 1.3rem;
    }


    /* Hebergement part */

    .hebergement-content h3 {
        font-size: 1.3rem;
    }

    .hebergement-list {
        flex-direction: row;
        align-items: center;
    }

    .fiche-hebergement {
        height: 170px;
        width: 45%;
    }

    .fiche-hebergement:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .img-hebergement-content {
        height: 100px;
    }


    /*Réglage des images hébergement */

    #cannebiere {
        object-position: 0px -75px;
    }

    #port {
        object-position: 0px -70px;
    }

    #mouettes {
        object-position: 0px -70px;
    }

    #mer {
        object-position: 0px -120px;
    }

    #panier {
        object-position: 0px -20px;
    }

    #amina {
        object-position: 0px -200px;
    }

    /*Réglage des images popular */

    #soleil {
        width: 100%;
    }

    #eau {
        width: 100%;
    }

    /* Afficher plus */

    .first .afficher-plus {
        font-size: 1.3rem;
    }

    /*Activities part */


    .activities-part {
        flex-wrap: wrap;
        gap: 40px;
        justify-content: space-around;
    }

    .cards-2 {
        width: 45%;
    }

    .activity-card-1 {
        width: 45%;
        height: 350px;
    }

    .activity-image-contender-1 {
        height: 300px;
    }

    .activity-card-2 {
        width: 100%;
        height: 150px;
    }

    .activity-image-contender-2 {
        height: 100px;
    }

    .activity-card-3 {
        width: 100%;
        height: 150px;
    }

    .activity-image-contender-3 {
        height: 100px;
    }


    .activity-card-4 {
        width: 100%;
        height: 150px;
    }

    .activity-image-contender-4 {
        height: 100px;
    }

    #fort-de-pomegue {
        object-position: 0px -200px;
    }

    #frioul {
        object-position: 0px -50px;
    }

    #parc-national {
        height: 100%;
        object-position: 0px 0px;
    }

    #notre-dame-garde {
        object-position: 0px -20px;
    }

    #longchamp {
        object-position: 0px -50px;
    }


    /* Footer */

    .footer-nav {
        gap: 10%;
    }

}